.chip {
  width: 155px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-orange-light);
  color: var(--mantine-color-orange-text);
  font-size: var(--mantine-font-size-sm);
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--mantine-color-orange-text);
}