.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form {
  max-width: 460px;
}

.header {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-sm);
}

.title {
  font-size: 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-md);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.aiButton {
  width: fit-content;
}