.container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.label {
  font-size: var(--mantine-font-size-md);
  font-weight: var(--mantine-font-weight-bold);
}

.counter {
  text-align: right;
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm)
}