.dropdown {
  max-width: 330px;
  padding: var(--mantine-spacing-sm);
}

.dropdown.error {
  background-color: var(--mantine-color-red-light);
  --popover-border-color: var(--mantine-color-red-text);
}

.container {
  gap: var(--mantine-spacing-sm)
}

.title {
  font-size: var(--mantine-font-size-xs);
  font-weight: var(--mantine-font-weight-medium);
  line-height: var(--mantine-line-height-xs);
}

.error {
  .title {
    color: var(--mantine-color-red-text)
  }
}

.content {
  font-size: var(--mantine-font-size-xs);
  line-height: var(--mantine-line-height-xs);
  white-space: pre-wrap;
}
